@import "tailwindcss";

@theme {
  --color-primary: #F6A133;
  --color-primary-dark: #DF8626;
  --color-secondary: #DF8626;
  --color-secondary-dark: #c4731a;
  --color-accent: #F6A133;
  --color-surface: #FFF9F2;
  --color-surface-dark: #F5EBD9;
}
